---
import { getCollection } from "astro:content";
import Section from "@components/widgets/Section.astro";

interface Props {
  columns?: number;
}

const { columns = 1 } = Astro.props as Props;

const projectsCollection = await getCollection("projects");
---

<ul
  class="grid"
  style={`grid-template-columns:repeat(${columns}, minmax(0, 1fr))`}
>
  {
    projectsCollection.map(async (project) => {
      const { data, render } = project;
      const { Content } = await render();
      return (
        <li>
          <a href={`/projects/${project.slug}`}>
            <h2>{project.data.title}</h2>
            <Content />
          </a>
        </li>
      );
    })
  }
</ul>
