---
import Layout from "../layouts/Layout.astro";
import ProjectsList from "@components/projects/ProjectsList.astro";
---

<Layout title="Homepage">
  <h1 class="text-3xl p-8 text-center">Homepage</h1>
  <!-- Projects List -->
  <ProjectsList />
</Layout>
